@import '~bootstrap/scss/bootstrap';
@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400;500&display=swap');


#root {
  margin: 0;
  padding: 0;
  background-color: #A0C7EE; 
  // height: 0px;
  // z-index: -80000;
}

ol, ul {
    padding-left: 0;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #A0C7EE; 
}

#map {
  width: inherit;
  vertical-align: baseline;
  // height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0;

}

main.container-fluid {
  height: 100vh;
  padding: 0px 0px;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.custom-nav {
  position: fixed;
  top: 20px;
  margin: 0 20px;
  border-radius: 100px;
  z-index: 20;
}

.navbar {
  position: absolute;
}

// .custom-nav {
//     border-radius: 100px;
//     // margin: 50px;
//     // padding: 20px;
//     // z-index: 2;
// }

// .navbar {
//     position: absolute;
// }

.navbar-nav {
  margin-left: auto;
  position: absolute;
}

button {
  margin: 1em;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  position: absolute;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
  margin-right: auto;
  margin-left: auto;
}

.lat-long {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    // z-index: 1;
    // position: absolute;
    // top: 50px;
    // left: 0;
    // margin: 12px;
    border-radius: 4px;
}

#marker {
    //background-image: url('https://cdn5.vectorstock.com/i/1000x1000/05/44/map-marker-icon-vector-12860544.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.sidebar-content {
    padding: 0;
    margin: 0;
}

.user-name {
  border-radius: 50px;
  transition: all .2s ease-out;
}

.playground-title {
  margin: 10 10;
}

.row {
  margin-top: 0px;
}

.user-name:hover {
  transform: scale(1.1);
  opacity: .5;
  cursor: pointer;
}

.marquee {
  border: 1px solid #CED4DA;
  border-radius: 5px; 
  margin: 0px 5px;
  height: 15%;
  width: 98%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee--inner {
  list-style-type: none;
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 0;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.marquee--inner:link {
    color: black;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

span {
  float: center;
}

@keyframes marquee {
  0%   { top:   8em }
  100% { top: -11em }
}

.update-input {
  border: none;
  outline: none;
  background:transparent;
}
