@import '~bootstrap/scss/bootstrap';
@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400;500&display=swap');
@import url("https://use.typekit.net/uvk6qgm.css");
@import url("https://use.typekit.net/sdy1wfw.css");

@font-face {
  font-family: DinPro;
  src: url(./DINPro-Medium_13936.woff);
}

#root {
  margin: 0;
  padding: 0;
  background-color: #273238; 
}

ol, ul {
  padding-left: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, nav {
font-family: DinPro;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

#basic-nav-dropdown {
  color: white;
}

#map {
  width: inherit;
  vertical-align: baseline;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main.container-fluid {
  overflow: hidden;
  padding: 0px 0px;
}

.map-container {
  height: 90vh;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  position: absolute;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
  margin-right: auto;
  margin-left: auto;
}

.lat-long {
    text-transform: uppercase;
    font-size: .8em;
    color: grey;
    padding: 10px 0px;
}

#marker {
    background-size: cover;
    background-image: url('https://cdn2.iconfinder.com/data/icons/pittogrammi/142/94-512.png');
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
    border-radius: 5px;
}

.sidebar-content {
    padding: 0;
    margin: 0;
}

.user-name {
  border-radius: 50px;
  transition: all .2s ease-out;
}

.playground-title {
  margin: 10 10;
}

div.col-lg-4.mb-md-0, div.col-lg-8.mb-md-0 {
  padding: 0px;
}

nav {
  padding: 1em;
}

.button.navbar-toggler.collapsed {
  color: white
}

footer {
  background-color: #273238;
  padding: 1.6em;
  bottom: 0;
  width: 100vw;
  font-size: .8em;
  overflow: hidden;
  margin: 0;
}

footer.text-white.row, section {
  background-color: #273238;
  width: 100vw;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

a.text-white {
  text-decoration: none;
}

.hover-text:hover {
  opacity: 100;
}

.text-right {
  text-align: right;
}

div.mapboxgl-ctrl-bottom-right {
  display: none;
}

.row {
  --bs-gutter-x: 0;
}

div.mapboxgl-ctrl-top-right {
  margin-right: 1em;
}

#basic-nav-dropdown, div.dropdown-menu.show, a.nav-link {
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
}

@media only screen and (max-width: 767px) {
  a#basic-nav-dropdown.dropdown-toggle.nav-link, .basic-nav-dropdown, div.dropdown-menu.show {
    text-align: center;
    background-color: transparent;
    color: white;
  }
}