@import '~bootstrap/scss/bootstrap';
@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400;500&display=swap');

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

#map {
    position: absolute;
    margin: 0;
    padding: 0;
}

main.container-fluid {
    padding: 0px 0px;
}

.map-container {
    width: 100%;
    height: 100vh;
}

// .custom-nav {
//     border-radius: 100px;
//     // margin: 50px;
//     // padding: 20px;
//     // z-index: 2;
// }

// .navbar {
//     position: absolute;
// }

.navbar-nav {
    margin-left: auto;
    position: absolute;
}

button {
    margin: 1em;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0rem);
    padding-left: var(--bs-gutter-x, 0rem);
    margin-right: auto;
    margin-left: auto;
}

.lat-long {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    // font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

#marker {
    //background-image: url('https://cdn5.vectorstock.com/i/1000x1000/05/44/map-marker-icon-vector-12860544.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.sidebar-content {
    padding: 0;
    margin: 0;
}

.user-name {
  border-radius: 50px;
  display: inline-block;
  margin: 0 24.7px;
  transition: all .2s ease-out;
}

.user-name:hover {
  transform: scale(1.2);
  opacity: .5;
  cursor: pointer;
}

.marquee {
  height: 100px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 200px auto;
}

.marquee--inner {
  display: block;
  width: 200%;
  margin: 70px 0;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.marquee--inner:link {
    color: black;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

span {
  float: left;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}